header {
    height: 150px;
    width: 100%;
    background-color: darkgreen;
}
#lewy {
    height: 500px;
    width: 30%;
    background-color: lightgreen;
    float: left;
}
#prawy {
    height: 500px;
    width: 70%;
    background-color: white;
    float: left;
}
footer {
    height: 150px;
    width: 100%;
    background-color: lightgreen;
    clear: both;
}
button {
    background-color: darkgreen;
    color: white
}
th, td, table {
    text-align: center;
    border: solid 1px black;
    border-collapse: collapse;
}
