header {
    height: 100px;
    width: 100%;
    background-color: lightblue;
}

main {
    height: 300px;
    width: 70%;
    background-color: lightgray;
}

footer {
    height: 80px;
    background-color: black;
}